/* GENERAL STYLE */
:root {
    --red: #EE1A23;
    --green: #869F76;
}

body {
    color: antiquewhite;
    background-color: rgb(34, 28, 33);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik Microbe', cursive;
    color: antiquewhite;
}

/* FLEX & DISPLAY & POSITION STYLE */
.dNone         {display: none;}
.dBlock        {display: block;}
.dFlex         {display: flex;}
.fDirecCol     {flex-direction: column;}
.justyCenter   {justify-content: center;}
.alignCenter   {align-items: center;}
.justySpaceBtw {justify-content: space-between;}
.justySpaceEve {justify-content: space-evenly;}
.fWrap         {flex-wrap: wrap;}
.gap1em        {gap: 1em;}
.pRelative     {position: relative;}
.pAbsolute     {position: absolute;}
.pSticky       {position: sticky;}

/* EXTRA GENERIC STYLE */
.cPointer      {cursor: pointer;}
.textAlignCent {text-align: center;}
.pad1em        {padding: 1em;}
.border        {border: 1px solid var(--red);}
.w100Perc      {width: 100%;}

/* HEADER STYLE */
header {
    height: 70px;
}

header img {
    height: 2rem;
}

h1 {
    color: var(--green); 
}

/* MAIN STYLE */
main {
    min-height: calc(100vh - 70px);
    width: 100%;
    text-align: center;
}

#slider {
    width: 60vw;
    height: 70vh;
    background-color: var(--green);
    border-right: transparent;
}

.slide {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#imagesBar {
    height: 70vh;
    width: 30vh;
    border-left: transparent;
    overflow-y: scroll;
}

main button {
    /* left: 50%; */
    width: 100%;
    height: 26px;
    /* transform: translateX(-50%); */
    padding: .3em .8em;
    color: var(--red);
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid black;
    z-index: 1;
    display: block;
    letter-spacing: .3em;
    position: sticky;
}

button > i {
    color: var(--red);
}

/* main button:hover {
    width: 100%;
} */

#btnBack {
    top: 0;
}

#btnNext {
    bottom: 0;
}

.active {
    opacity: 1;
    border: 1px solid yellow;
}

.inactive {
    opacity: 0.3;
}