/* GENERAL STYLE */
body {
    color: antiquewhite;
    background-color: rgb(34, 28, 33);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik Microbe', cursive;
    color: antiquewhite;
}

/* FLEX & DISPLAY & POSITION STYLE */
.dNone         {display: none;}
.dBlock        {display: block;}
.dFlex         {display: flex;}
.fDirecCol     {flex-direction: column;}
.justyCenter   {justify-content: center;}
.alignCenter   {align-items: center;}
.justySpaceBtw {justify-content: space-between;}
.justySpaceEve {justify-content: space-evenly;}
.fWrap         {flex-wrap: wrap;}
.gap1em        {gap: 1em;}
.pRelative     {position: relative;}
.pAbsolute     {position: absolute;}

/* EXTRA GENERIC STYLE */
.cPointer      {cursor: pointer;}
.textAlignCent {text-align: center;}
.pad1em        {padding: 1em;}
.border        {border: 1px solid white;}
.w100Perc      {width: 100%;}

/* HEADER STYLE */
header {
    height: 70px;
}

h1 {
    color: #869F76; /* green */
}

/* MAIN STYLE */
main {
    min-height: calc(100vh - 70px);
    width: 100%;
    text-align: center;
}

#slider {
    width: 50vw;
    height: 70vh;
    background-color: #869F76;
    border-right: transparent;
}

.slide {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

main button {
    left: 50%;
    transform: translateX(-50%);
    padding: .3em .8em;
    color: #869F76;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid black;
    z-index: 1;
    display: block;
}

main button:first-child {
    top: 0;
}

main button:nth-child(2) {
    bottom: 0;
}

#imagesBar {
    height: 70vh;
    width: 30vh;
    border-left: transparent;
}

.imagesBarCard {
    height: calc(100% / 5);
    background-size: cover;
    background-position: center;
}

.active {
    opacity: 1;
    border: 1px solid yellow;
}

.inactive {
    opacity: 0.3;
}